* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    padding-top: 17px;
    padding-right: 111px;
    padding-bottom: 17px;
    padding-left: 35px;
    align-items: center;
    background-color: #BEADFA;
    box-sizing: border-box;
}

nav ul {
    margin-left: 175px;
    display: flex;
    list-style-type: none;
    gap: 85px;
}

.search {
    margin-left: 85px;
    border-radius: 20px;
    background-color: white;
    width: 188px;
    height: 37px;
    display: flex;
    justify-content: left;
    align-items: center;

    padding-top: 6px;
    padding-left: 18px;
    padding-bottom: 7px;
    box-sizing: border-box;
}

.cart {
    margin-left: 155px;
}

.container-about {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 563px;
    background-color: #8E8FFA;
    box-sizing: border-box;
}

.container-about h1{
    width: 291px;
    font-size: 54px;
    font-weight: 800;
}

.container-about h2 {
    width: 573px;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: white;
}

.container-about p {
    width: 611px;
    font-size: 22px;
    font-weight: 400;
}

.container-blah {
    height: 257px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-reviews {
    padding-top: 52px;
    height: 763px;
    background-color: #C780FA;
    box-sizing: border-box;
}

.container-reviews h1 {
    font-size: 54px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.review {
    width: 396px;
    height: 432px;
    border-radius: 20px;
    background-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    /* align-items: center; */
}

.container-reviews div {
    /* margin-top: 78px; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.review p {
    width: 336px;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}